* {
    box-sizing: border-box;
}

:root {
    --header-bg: #d4f2ff;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "Sora", sans-serif;
}

/* Common */

a {
    text-decoration: none;
}

.container {
    width: 1170px;
    max-width: calc(100% - 48px);
    margin: 0 auto;
}

.btn {
    --height: 60px;

    display: inline-block;
    min-width: 205px;
    height: var(--height);
    line-height: var(--height);
    font-size: 1.6rem;
    font-weight: 400;
    border: 1px solid #07b3fb;
    border-radius: 99px;
    text-align: center;
    color: #fff;
    background: #07b3fb;
}

.btn:hover {
    opacity: 0.9;
    cursor: pointer;
}

.section-heading {
    color: #10375c;
    font-size: 5rem;
    font-weight: 600;
    line-height: 1.2; /* 120% */
    letter-spacing: -1px;
}

.section-desc {
    margin-top: 18px;
    color: #575f66;
    font-size: 1.8rem;
    font-weight: 300;
    line-height: 1.67; /* 166.667% */
}

/* Header */
.header {
    padding: 30px 0;
    min-height: 100vh;
    background: var(--header-bg);
}

/* Header top */
.header-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar__list {
    display: flex;
    align-items: center;
}

.box {
    height: 44px;
    display: flex;
    cursor: pointer;
    padding: 0 20px;
    background: #fff;
    border-radius: 30px;
    align-items: center;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.3);
}

.box:hover input {
    width: 400px;
}

.box input {
    width: 0;
    outline: none;
    border: none;
    font-weight: 500;
    transition: 0.8s;
    background: transparent;
    padding: 0px;
}

.box a .fas {
    color: #181616;
    font-size: 1.8rem;
}

.action__search {
    --height: 40px;
    min-width: 104px;
    line-height: 30px;
    background: #07b3fb;
    border: 1px solid #d4f2ff;
    color: #fff;
}

.action__login,
.navbar__link {
    padding: 4px 21px;
    font-size: 1.6rem;
    font-weight: 300;
    color: #181616;
}

.navbar__link:hover {
    color: #181616;
    text-shadow: 1px 0 0 currentColor;
}

/* .navbar__link--active::before {
    position: relative;
    content: "";
    display: inline-block;
    top: -2px;
    left: -8px;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: #fff;
} */

.action__signup {
    --height: 44px;
    min-width: 104px;
    background: #f0c6e7;
    line-height: 30px;
    color: #181616;
    border: 1px solid #b94990;
    text-shadow: 1px 0 0 currentColor;
}

/* Hero */
.hero {
    display: flex;
    margin-top: 76px;
    align-items: center;
}

.hero__content {
    flex-shrink: 0;
    width: 44%;
}

.hero__media {
    flex-grow: 1;
}

.hero__heading {
    color: #181616;
    font-size: 7rem;
    font-style: normal;
    font-weight: 600;
    line-height: 1.14; /* 114.286% */
    letter-spacing: -1.4px;
}
.hero__desc {
    margin-top: 22px;
    color: #333131;
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 300;
    line-height: 1.66; /* 166.667% */
}

.hero__row {
    display: flex;
    align-items: center;
    margin-top: 38px;
}

.hero__phone {
    color: #181616;
    margin-left: 38px;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.66; /* 166.667% */
}

.hero__images {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.hero__img {
    width: 330px;
    height: 540px;
    border-radius: 6px;
    object-fit: cover;
}

.hero__img:first-child {
    position: relative;
    margin-right: -6px;
}

.hero__img:last-child {
    width: 210px;
    height: 410px;
}

/* Service */
.service {
    padding: 170px 0;
}

.service__heading,
.service__desc {
    text-align: center;
}

.service__desc {
    width: 468px;
    margin-right: auto;
    margin-left: auto;
}

.service__row {
    margin-top: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.service__img {
    width: 570px;
    height: 570px;
    object-fit: cover;
    border-radius: 12px;
}

.service-list {
    margin-bottom: 55px;
}

/* Service item */

.service-item {
    display: flex;
    width: 470px;
    padding: 22px;
    border-radius: 10px;
    background: #fff;
    transition: 0.25;
}

.service-item:hover {
    position: relative;
    box-shadow: 0px 14px 28px 0px rgba(0, 0, 0, 0.05);
}

.service-item:hover .service-item__icon {
    background: #07b3fb;
    color: #fff;
}

.service-item__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #10375c;
    flex-shrink: 0;
    width: 60px;
    height: 60px;
    border-radius: 30px;
    background: #eff6fd;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.05);
    transition: 0.25;
}

.service-item__body {
    margin-left: 20px;
}

.service-item__heading {
    color: #10375c;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.27;
}

.service-item__desc {
    margin-top: 8px;
    color: #575f66;
    font-size: 1.6rem;
    font-weight: 300;
    line-height: 1.75; /* 175% */
}
